//@import "./variables";
.wrap1440 {
  width: 1440px;
  margin: 0 auto;
}
.wrap1200 {
  width: 1200px;
  margin: 0 auto;
}
.wrap1040 {
  margin: 0 auto;
  width: 1040px;
}
.w200 {
  width: 200px;
}
.pt10 {
  padding-top: 10px;
}
.pb10{
  padding-bottom: 10px;
}
.pt80 {
  padding-top: 80px;
}
.pb80 {
  padding-bottom: 80px;
}

.pb120 {
  padding-bottom: 120px;
}
.ml5 {
  margin-left: 5px!important;
}
.ml10 {
  margin-left: 10px!important;
}
.ml15 {
  margin-left: 15px;
}
.ml60 {
  margin-left: 60px;
}
.pt40 {
  padding-top: 40px!important;
}
.pb20 {
  padding-bottom: 20px!important;
}
.pl30 {
  padding-left: 30px!important;
}
.pr20 {
  padding-right: 20px!important;
}
.pr30 {
  padding-right: 30px!important;
}
.pl75{
  padding-left: 75px;
}
.pl100 {
  padding-left: 100px;
}
.pr15 {
  padding-right: 15px!important;
}
.mt30 {
  margin-top: 30px;
}
.ml20 {
  margin-left: 20px !important;
}
.mr60 {
  margin-right: 60px!important;
}

.mt60 {
  margin-top: 60px;
}

.mt20 {
  margin-top: 20px;
}
.mt40 {
  margin-top: 40px;
}

.mt100 {
  margin-top: 100px !important;
}
.mb20 {
  margin-bottom: 20px;
}
.mb30 {
  margin-bottom: 30px;
}
.mb100 {
  margin-bottom: 100px !important;
}

.bg-white {
  background-color: #fff;
}

@font-face {
  font-family: "SourceSansPro-Black";
  src: url('../fonts/SourceSansPro-Black.eot'); /* IE9*/
  src: url('../fonts/SourceSansPro-Black.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('../fonts/SourceSansPro-Black.woff') format('woff'),
  url('../fonts/SourceSansPro-Black.ttf') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('../fonts/SourceSansPro-Black.svg') format('svg'); /* iOS 4.1- */
}

.ssp-font {
  font-family: "SourceSansPro-Black" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  height: 100%;
}

body, body * {
  //font-family: 'Microsoft YaHei','微软雅黑','PingFang SC', 'SimSun', '宋体', 'Arial Narrow';
  font-family: "Helvetica Neue", Helvetica, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "微软雅黑", Arial, sans-serif;

}

body {
  height: 100%;
  background-color: $bgColor;
  color: #333;
}

#app {
  height: 100%;
}

a {
  text-decoration: none;
  color: #333;
}

.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}

.clearfix:after {
  clear: both;
}

input {
  box-sizing: border-box;
}

.fl {
  float: left;
}

.fr {
  float: right;
}

ul, li {
  padding: 0;
  margin: 0;
  list-style: none
}

//图标字体






