
.f16{
  font-size: 16px!important;
}
.fs14 {
  font-size: 14px;
}
.fs12 {
  font-size: 12px!important;
}
.cPrimaryColor {
  color: $primaryColor;
}
.cDefColor {
  color: $textColor_def;
}
.cRed {
  color: $textColor_red;
}
.cGray {
  color: #666;
}
.c333 {
  color: #333;
}
.center {
  text-align: center;
}

.el-button {
  color: $textColor_gray;
  border-color: $textColor_gray;
  border-radius: 2px;
  height: 50px;
  &.el-button--text {
    border: 0 none;
    color: $primaryColor;
  }
  &:hover {

  }
  &.white {
    color: #fff;
    border-color: #fff;
  }
  &.el-button--small {
    height: 36px;
    font-size: 16px;
  }
  &.el-button--medium {
    height: 44px;
    font-size: 16px;
  }
  &.el-button--mini {
    height: 32px;
  }
  &.lg {
    height: 60px;
  }
  &.fs18 {
    font-size: 18px;
  }
  &.long {
    width: 100%;
  }
  &.transparent {
    background-color: transparent;
  }
  &.is-plain {
    border-color: $primaryColor;
    color: $primaryColor;
    &:hover {
      background-color: $primaryColor;
      color: #fff;
    }
  }
}
.el-button--primary {
  color: #fff;
  background-color: $primaryColor;
  &:hover {
    background-color: $primaryColor;
    opacity: 0.8;
  }
}

.el-dropdown {
  .el-button {
    border-color: #D9D9D9;
  }
}

.el-select {
  .el-input__inner {
    border-radius: 2px;
  }
}

.el-icon-back.r {
  transform: rotateY(180deg);
}

.box {
  width: 1440px;
  margin: 0 auto;
  padding: 20px;
  background-color: $boxBgColor;
}

.left-wrap {
  background-color: #FEFEFE;
  border: 1px solid #7A8CA1;
  border-radius: 4px;
}

.right-wrap {
  background-color: #FFF;
  border: 1px solid #A4B0BF;
}
.border-box {

}

.mini-slide {
  height: 32px;
  .el-slider__runway {
    height: 2px;
    margin: 15px 0;
    .el-slider__bar {
      height: 2px;
      background-color: $primaryColor;
    }
    .el-slider__button-wrapper {
      top: -17px;
      .el-slider__button {
        width: 8px;
        height: 8px;
        background-color: $primaryColor;
        border-color: $primaryColor;
      }
    }
  }
}

.border-box {
  padding: 30px;
  border: 1px solid #A4B0BF;
  background-color: #fff;
}

.radio-item {
  .el-radio__input {
    &.is-checked .el-radio__inner {
      background-color: transparent;
      border-color: $primaryColor;
      &:after {
        width: 8px;
        height: 8px;
        background-color: $primaryColor;
      }
    }
    .el-radio__inner {
      width: 20px;
      height: 20px;
      vertical-align: middle;
      border-color: #6E8299;
    }
  }
  .el-radio__label {
    font-size: 18px;
    color: #47495A;
    font-weight: 400;
    vertical-align: middle;
  }
}

.dbc-input {
  height: 36px;
  line-height: 36px;
  border-width: 0 0 1px 0;
  outline: none;
  border-color: #47495A;
  font-size: 18px;
  &:focus {
    border-color: $primaryColor;
  }
}

.money-input{
  padding-bottom: 16px;
  border-width: 0 0 1px 0;
  outline: none;
  border-color: rgba(71,73,90,0.6);
  font-size: 40px;
  line-height: 40px;
  color: #6E8299;
  &:focus {
    border-color: $primaryColor;
  }
}

.tb-theme {
  width: 100%;
  table-layout: fixed;
  border-spacing: 0;
  border: 1px solid #979797;
  thead {
    th {
      padding: 0;
      height: 48px;
      background-color: #F6F9FC;
      text-align: center;
      color: #666;
      &.tl {
        text-align: left;
      }
      &.tr {
        text-align: right;
      }
    }
  }
  tbody {
    color: #666;
    td {
      padding: 0 10px;
      height: 44px;
      text-align: center;
      border-top: 1px solid #E1E6EC;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
      &.tl {
        text-align: left;
      }
      &.tr {
        text-align: right;
      }
      &.nobd {
        border: 0 none;
      }
    }
  }
  &.small {
    tbody {
      font-size: 14px;
    }
  }
  &.hAuto{
    tbody {
      td {
        padding: 10px;
        overflow: visible;
        white-space: normal;
      }
    }
  }
}

.trade-bottom-wrap {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  .confirm-btn {
    width: 150px;
  }
  .service {
    line-height: 28px;
    color: rgba(71,73,90,0.65);
    a {
      color: $primaryColor
    }
  }
}

.el-dialog {
  .el-dialog__body {
    padding: 20px;
    border-top: 1px solid #e9e9e9;
  }
}

.dlg-content {
  color: #333;
  .form-notice {
    padding-top: 8px;
    font-size: 12px;
    color: #999;
  }
  .computer-dbc {
    display: flex;
    justify-content: space-between;
  }
}
.dlg-bottom {
  text-align: center;
  padding-top: 20px;
}

.small-input {
  font-size: 12px;
  width: 180px;
  height: 32px;
  padding: 0 10px;
  border: 1px solid #D9D9D9;
  border-radius: 2px;
  outline: none;

}

.flex {
  display: flex;
  &.center {
    justify-content: center;
  }
  &.between {
    justify-content: space-between;
  }
  &.right {
    justify-content: flex-end;
  }
  &.vCenter {
    align-items: center;
  }
}

.is-link {
  color: $primaryColor;
  &:hover {
    opacity: 0.7;
  }
}
