// scss variables
$bgColor:#7A8CA1; //dbchain:#040668, yousanai,aicv:#7A8CA1,aionego:#7A8CA1,deepshare,xyzlab,gpugpu,rocketai:#7A8CA1,yalecloud:#2224a5,panchuangai\deepbit:#0d54b1
//sharegpu:#7A8CA1;52lm: #7A8CA1;mayi:#7A8CA1;dimi:rgb(48, 10, 136);windywinter„ÄÅ1024lab\52cv\ainlp\litaai\redstonewill\heekmind\shareaiot\freegpu\bioncplanet
//aiaicloud\vnxmart\aichriscloud\snbt\topgpu\thinkotech\tycloud:#7A8CA1;
//alpha-dbchain:#0d54b1
$primaryColor: rgb(25, 93, 145); //dbchain:#008BF3, yousanai:rgb(243, 186, 0),aionego:rgb(170, 168, 35),
//deepshare:rgb(25, 93, 145),yalecloud:#008BF3,panchuangai,alpha-dbchain,xyzlab\deepbit: #008BF3,sharegpu: rgb(25, 93, 145);52lm: rgb(25, 93, 145);mayi: rgb(25, 93, 145);
//;windywinter,1024lab\52cv\ainlp\litaai\redstonewill\aiaicloud\vnxmart\aichriscloud\heekmind: rgb(25, 93, 145);
$boxBgColor: #f5f5f5;
$textColor_gray: #7A8CA1;
$textColor_def: #47495a;
$textColor_red: #F56C6C;
