// scss variables
$bgColor: #040668; //dbchain:#040668, yousanai:#7A8CA1,aionego:#7A8CA1,deepshare:#7A8CA1
$primaryColor: #008BF3; //dbchain:#008BF3, yousanai:rgb(243, 186, 0),aionego:rgb(170, 168, 35),deepshare:rgb(25, 93, 145);
$boxBgColor: #f5f5f5;
$textColor_gray: #7A8CA1;
$textColor_def: #47495a;
$textColor_red: #F56C6C;
